[submodule "hugo-theme-console"]
	path = hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "themes/theme1"]
	path = themes/theme1
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
