{{ define "main" }}

<h1>Оцифровка искусства и наследия культуры в 3D</h1>

<p>
Мир искусства, архитектуры и истории уникален, и я помогаю сохранить его в цифровом формате. Занимаюсь 3D-сканированием предметов искусства, скульптур, архитектурных элементов и артефактов для музеев, археологических исследований, реставрации и цифровых проектов.
<br/>
<br/>3D-модели могут использоваться для:<br>
* Документирования и сохранения культурного наследия<br>
* Реконструкции и реставрации объектов<br>
* Интерактивных экспозиций и VR/AR-проектов<br>
* Визуализации в кино, играх и дизайне<br>
<br/>
Открыт к сотрудничеству с музеями, художниками, дизайнерами, исследователями и креативными проектами.  <a href="about/">(подробнее)</a>
</p>




<h1>Последние проекты</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}